.tile {
  @media (max-width: 767px) {
    height: 15px;
    width: 15px;
  }
  @media (min-width: 768px){
    height: 20px;
    width: 20px;
    background-size: 18px 20px;
  }
  @media (min-width: 991px){
    height: 25px;
    width: 25px;
    background-size: 21px 25px;
  }

  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;

  &--wall {
    background-color: red;
  }

  &--exit {
    background-color: yellow;
  }

  &--player {
    background-image: url('../../assets/img/player.png');
  }

  &--box {
    background-image: url('../../assets/img/box.png');
  }
}