.tile {
  height: 15px;
  width: 15px;
  display: inline-block;

  &--wall {
    background-color: red;
  }

  &--exit {
    background-color: yellow;
  }

  &--player {
    background: no-repeat center url('../../assets/img/player.png');
  }
}